@{
    ViewData["Title"] = "Home Page";
}
<h1>Employee Leave Management System</h1>
<h2>Technology used : ASP.NET Core and Entity Framework</h2>


<p><strong>Lesson Learnt: </strong></p>
<ul>
    <li><p>Connecting to a Database using <strong>Entity Framework Core</strong></p></li>
    <li><p><strong>Dependency Injection</strong></p></li>
    <li><p>How the <strong>MVC (Models, Views and Controllers)</strong> Pattern works</p></li>
    <li><p>C# and .NET Core Web Syntax</p></li>
    <li><p>User <strong>Authentication </strong>using <strong>ASP.NET Core Identity</strong></p></li>
    <li><p>How to use <strong>Entity Framework Core Data</strong> <strong>Models</strong>, <strong>View Models </strong>and <strong>AutoMapper </strong></p></li>
    <li><p>Using <strong>Bootstrap </strong>to style and manipulate the overall layout</p></li>
    <li><p>Managing Packages with <strong>NuGet Manager</strong></p></li>
    <li><p>Implement Website Layout using <strong>a Third-Party Admin Theme</strong></p></li>
